* {
  padding: 0;
  margin: 0;
}
.list {
  margin-top: 100px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-card {
  flex: 0 0 480px;
  margin: 10px;
}
.box-card-header {
  display: flex;
}
/* .box-card-header span {
} */
